build/
bindings/rn/ios/dist/
bindings/rn-bare/ios/dist/*
!bindings/rn-bare/ios/dist/.gitkeep
bindings/rn-bare/android/native-libs/*
!bindings/rn-bare/android/native-libs/.gitkeep
bindings/rn-bare/android/build/
bindings/rn-bare/android/.cxx/
bindings/rn-bare/android/third-party/

bindings/node/*.node
.docs

packages/coordinator-rn/node_modules
packages/coordinator-rn/dist
packages/coordinator-node/node_modules
packages/coordinator-node/dist

.openssl-build/